[Desktop Entry]
Encoding=UTF-8
Name=Beetok
Comment=Beetok P2P Cryptocurrency
Comment[fr]=Beetok, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Beetok, eşten eşe kriptografik sanal para birimi
Exec=beetok-qt %u
Terminal=false
Type=Application
Icon=beetok128
MimeType=x-scheme-handler/beetok;
Categories=Office;Finance;
