
\.vs/Beetok-Core/v15/\.suo

\.vs/Beetok-Core/v15/Browse\.VC\.db

\.vs/Beetok-Core/v15/Browse\.VC\.opendb

\.vs/ProjectSettings\.json

\.vs/slnx\.sqlite

\.vs/Beetok-Core/v15/ipch/AutoPCH/b34783006ddd9603/CLIENTVERSION\.ipch
