
\.vs/Beetok-Core/v15/\.suo

\.vs/Beetok-Core/v15/Browse\.VC\.db

\.vs/Beetok-Core/v15/Browse\.VC\.opendb

\.vs/ProjectSettings\.json

\.vs/slnx\.sqlite

\.vs/Beetok-Core/v15/ipch/AutoPCH/b34783006ddd9603/CLIENTVERSION\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/a7a02c162beb2312/POW\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/2c0892661eb554d9/KERNEL\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/382ff47ce60e04bf/SPORK\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/53f5b8285d9561c9/SPORKDB\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/ecba8b62adbfdd39/KERNEL\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/f306b066c54e2a59/CLIENTVERSION\.ipch

\.vs/VSWorkspaceState\.json

\.vs/Beetok-Core/v15/ipch/AutoPCH/cd168fe9048c3b03/KERNEL\.ipch

\.vs/Beetok-Core/v15/ipch/AutoPCH/bc9c1f2b14279905/SPORK\.ipch
